/*
Comente todo este css ya que deje el control total a Bootstrap
body {
  width: 400px;
  margin: 0 auto;
  padding-bottom:30px;
  font-family: Arial, sans-serif;
}

fieldset {
  border: 1px solid lightgray;
  margin: 10px 0;
  padding: 15px;
}

input {
  margin-top: 4px;
  margin-bottom: 10px;
}

textarea {
  margin-top: 4px;
  height:80px;
}

button {
  padding:8px 12px;
}
*/